{% extends "base.html" %}
{% block content %}

<!-- Title -->
<h1 class="page-header">
    Draft Picks
    <small>2017</small>
</h1>

<!-- Table -->
<table data-toggle="table"
       data-sort-name="skill"
       data-sort-order="desc">
    <thead>
    <tr>
        <th>
                Round
        </th>
        <th>
                Pick
        </th>
        <th>
                Team
        </th>
        <th>
                Player
        </th>
    </tr>
    </thead>
    <tbody>
        {% for pick in picks %}
        <tr>
            <td>{{pick.draft_round}} {% if pick.compensation_pick %}(Compensation Pick){% endif %}</td>
            <td>{{pick.number}}</td>
            <td>{{pick.team.name}}</td>
            <td>{%if pick.player %}{{pick.player}}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
